@import "../../node_modules/@ionic/angular/css/core.css";
@import "../../node_modules/@ionic/angular/css/normalize.css";
@import "../../node_modules/@ionic/angular/css/structure.css";
@import "../../node_modules/@ionic/angular/css/typography.css";
@import "../../node_modules/@ionic/angular/css/padding.css";
@import "../../node_modules/@ionic/angular/css/float-elements.css";
@import "../../node_modules/@ionic/angular/css/text-alignment.css";
@import "../../node_modules/@ionic/angular/css/text-transformation.css";
@import "../../node_modules/@ionic/angular/css/flex-utils.css";
@import "../../node_modules/@ionic/angular/css/display.css";

.ion-padding {
  padding: 16px;
}

ion-menu {
  width: 250px;
}

ion-header {
  background-color: var(--primary-color); 
  color: var(--text-color);
}

ion-toolbar {
  --background: var(--primary-color); 
  color: var(--text-color);
}

.title {
  margin-top: 20px;
  margin-bottom: 20px;
}

ion-title {
  font-size: 20px;
  font-weight: 700;
  color: var(--text-color);
}

ion-buttons {
  ion-back-button {
    color: var(--text-color);
  }
  ion-menu-button {
    color: var(--text-color);
  }
}